/*-----------------------
    Alert
-----------------------*/
.alert {
    background-color: #ffe7dc;
    border: 1px solid #F84208;
    padding: 24px 20px;
    border-radius: 0;
    color: #F84208;
}